$color-royal-blue: #3C76DD;
$color-turquoise: #46D3E7;
$color-chrome-yellow: #F9AB00;
$color-smoky-black: #0C0C0C;
$color-american-silver: #CDD1D4;
$color-anti-flash-white: #EFF2F6;
$color-white: #fff;
